## Basic continuous integration build for Zigg.

name: Zigg Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Native Quarkus app
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Build Native Executable
        uses: maxday/quarkus-native-build-docker-action@13bf5c4ae6942143cf43a5663a6c7f847ac3163c
        with:
          outputName: app-runner
      - name: Upload Native Executable
        uses: actions/upload-artifact@v2
        with:
          name: native-executable
          path: app-runner
  
  deploy:
    runs-on: ubuntu-latest
    name: Embed the Native Executable in a Docker container
    needs: build
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Download the Binary
        uses: actions/download-artifact@v2
        with:
          name: native-executable
      - name: Dockerize Native Executable
        id: dockerize
        uses: maxday/quarkus-dockerize-action@master
        with:
          tag: creatixx.io/zigg
          executablePath: native-executable/app-runner
